{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
        }
      }
    ]
  ],
  "plugins": [
    "minify-dead-code-elimination",
    "minify-guarded-expressions",
    ["module-resolver", { "root": ["src", "node_modules"] }],
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}
