{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 11"]
        }
      }
    ]
  ],
  "env": {
    "webpack": {
      "presets": [
        ["env", { "targets": { "browsers": "> 1%" }, "modules": false }]
      ]
    }
  },
  "plugins": [
    ["module-resolver", { "root": ["src", "node_modules"] }],
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}
